.btn {
  cursor: pointer;
  border: none;
  padding: 0;

  &--gold {
    position: relative;
    height: 60px;
    background-color: $gold;
    transform: skew(-17deg);
    transition: 0.25s background-color, 0.25s color;

    &::before {
      content: 'оставить заявку';
      display: block;
      transform: skew(17deg);
      font-size: 12px;
      font-weight: 700;
      letter-spacing: 0.5px;
      text-transform: uppercase;
    }

    &::after {
      content: '';
      position: absolute;
      background-color: $white;
      width: 6px;
      height: 100%;
      top: 0;
      right: -10px;
      transition: 0.25s right;
    }

    &--primary {
      padding: 21px 28px;

      @media (min-width: 1550px) {
        padding: 21px 69px;
      }
    }

    &--small {
      width: 206px;
      height: 47px;

      &:disabled {
        cursor: not-allowed;
        background-color: $grey;
        pointer-events: none;
      }

      @media (max-width: 767px) {
        &::after {
          width: 5px;
          right: -8px;
        }
      }

      @media (min-width: 768px) {
        width: 265px;
        height: 60px;
        padding: 21px 69px;
      }
    }

    &--full {
      width: 100%;
      &::after {
        content: unset;
      }
    }

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background-color: $white;
        color: $gold;
        &::after {
          right: -3px;
        }
      }
    }

    &--load {
      &::before {
        content: 'загрузить ещё';
      }

      &:disabled {
        cursor: not-allowed;
        background-color: $grey;

        &::after {
          width: 20px;
          height: 20px;
          top: 8px;
          right: 10px;
          background: $grey;
          border: 5px solid $white;
          border-bottom-color: $gold;
          border-radius: 50%;
          animation: loading 1s linear infinite;

          @media (min-width: 768px) {
            width: 30px;
            height: 30px;
            top: 10px;
            right: 20px;

          }
        }
      }
    }

  }

  &--dark {
    background-color: $dark;
    border: 1px solid $dark;
    width: 100%;
    padding: 16px 0;
    font-family: 'Mulish', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    color: $white;
    transition: 0.25s background-color, 0.25s color;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background-color: $white;
        color: $dark;
      }
    }
  }

  &--close {
    background-color: transparent;
    width: 45px;
    height: 45px;

    svg {
      width: 100%;
      height: 100%;
      stroke: $white;
      transition: 0.25s stroke;

    }

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        svg {
          stroke: darken($white, 50%);
        }
      }
    }
  }
}

@keyframes loading {
  0% {
    transform: skew(17deg) rotate(0deg);
  }
  100% {
    transform: skew(17deg) rotate(360deg);
  }
}
