@import 'nav';

.header {
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 18px;

    @media (min-width: 768px) {
      padding-top: 30px;
      padding-bottom: 27px;
    }

    @media (min-width: 768px) {
      padding-top: 30px;
      padding-bottom: 27px;
    }

    @media (min-width: 1550px) {
      padding-top: 28px;
      padding-bottom: 28px;
    }
  }

  &__burger {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 37px;
    height: 31px;
    background-color: transparent;
    position: relative;

    &::before,
    &::after {
      content: '';
      position: absolute;
      display: inline-block;
      height: 3px;
      border-radius: 4px;
      background-color: $white;
      left: 3px;
      transition: 0.25s transform, 0.25s width;
    }

    &::before {
      width: 16px;
      top: 6px;
    }

    &::after {
      width: 22px;
      bottom: 6px;
    }

    span {
      display: inline-block;
      height: 3px;
      width: 31px;
      border-radius: 4px;
      background-color: $white;
      transition: 0.25s opacity;
    }

    &.active-nav {
      span {
        opacity: 0;
      }

      &::before,
      &::after {
        width: 100%;
      }

      &::before {
        transform: translate(0, 8px) rotate(45deg);
      }
      &::after {
        transform: translate(0, -8px) rotate(-45deg);
      }
    }

    @media (min-width: 1550px) {
      display: none;
    }

  }

  &__logo {
    display: inline-block;
    width: 112px;
    height: 42px;

    svg {
      width: 100%;
      height: 100%;
    }

    @media (min-width: 768px) {
      width: 158px;
      height: 60px;
    }

    @media (min-width: 1700px) {
      margin-right: 76px;
    }
  }

  &__contacts {
    display: none;
    padding: 20px 10px;

    @media (min-width: 768px) {
      display: flex;
      position: relative;
      padding: 0 20px 0 0;
      gap: 7px;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }

  &__tel {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 74px;
    height: 60px;
    border: 1px solid $grey;
    background: transparent;
    transform: skew(-17deg);
    transition: 0.25s border-color;
    cursor: pointer;

    &--full {
      width: 100%;
    }

    svg {
      transform: skew(17deg);
      width: 32px;
      height: 32px;
      fill: $grey;
      transition: 0.25s fill;
    }

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        border-color: $white;
        svg {
          fill: $white;
        }
      }
    }

    @media (min-width: 1550px) {
      margin-right: 30px;
    }

  }

}
