.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgb(19, 19, 19, 0.5);
  opacity: 0;
  pointer-events: none;
  transition: 0.25s opacity;
  visibility: hidden;
  z-index: 1;

  &.active-modal {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
  }

  &__wrapper {
    position: relative;
    max-width: 768px;
    width: 100%;
    height: 100vh;
    padding: 25px;
    background-color: $primaryBg;

    @media (min-width: 767px) {
      height: 433px;
      border: 2px solid $white;
    }
  }

  &__close {
    position: absolute;
    top: 20px;
    right: 20px;
  }

  &__title {
    color: $white;
    margin-bottom: 40px;
    font-weight: 700;
  }

  &__form {
    display: flex;
    gap: 25px;
    flex-direction: column;

  }

  &__input {
    padding: 10px;
    height: 60px;
    width: 100%;
    border: 1px solid $grey;
    color: $white;
    background-color: $primaryBg;
    outline: $white;
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus {
      -webkit-text-fill-color: $white;
      -webkit-box-shadow: 0 0 0px 1000px $primaryBg inset;
      transition: background-color 5000s ease-in-out 0s;
    }

    &.not-valid {
      border-color: $red;
      outline: $red;

      &:focus {
        border-color: $red;
      }
    }

    &.valid {
      border-color: $white;
    }

    &:focus {
      border: 1px solid $white;
    }
  }

  &__btn {
    margin-left: 11px;
  }
}
