.container {
  max-width: 1820px;
  padding: 0 15px;
  margin: 0 auto;

  @media (min-width: 768px) {
    padding: 0 50px;
  }
}

* {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: $white;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

body {
  background-color: $primaryBg;
}

.no-scroll {
  overflow: hidden;
}
